(
    version: 1,
    width: 720,
    height: 720,
    fps: 30,
    tone_map: aces,
    nodes: {
        "grid": (
            type: "instance",
            inputs: [],
            params: {
                "cam_x": 2.6,
                "cam_y": -1.7,
                "cam_z": -16.6,
                "fov": 0.75,
                "base_scale": 0.4,
                "audio_drive": -1.66,
                "rim_color": [
                    1.0,
                    0.0,
                    0.0,
                    1.0,
                ],
                "look_x": -0.2,
                "look_y": 0.0,
                "look_z": -5.1,
                "light_x": 12.6,
                "light_y": 18.9,
                "light_z": 22.0,
            },
        ),
        "glow": (
            type: "bloom",
            inputs: [
                "grid",
            ],
            params: {
                "threshold": 2.13,
                "intensity": 0.24,
                "radius": 6.6,
            },
        ),
        "instance": (
            type: "instance",
            inputs: [],
            params: {
                "cam_x": 4.0,
                "cam_y": 3.0,
                "cam_z": 6.0,
                "look_x": 20.2,
                "look_y": 0.0,
                "look_z": 14.3,
                "fov": 5.31,
                "base_scale": 6.72,
                "audio_drive": 7.58,
                "light_x": 14.0,
                "light_y": 0.8,
                "light_z": 17.1,
                "rim_color": [
                    1.0,
                    0.7,
                    0.4,
                    1.0,
                ],
            },
        ),
        "raymarch": (
            type: "raymarch",
            inputs: [],
            params: {
                "cam_x": 9.9,
                "cam_y": 10.5,
                "cam_z": 3.0,
                "look_x": 11.8,
                "look_y": 12.2,
                "look_z": 0.0,
                "fov": 8.31,
                "radius": 8.66,
                "displacement": 2.19,
                "light_x": 16.5,
                "light_y": 0.8,
                "light_z": 7.8,
                "sky_top": [
                    0.4,
                    0.6,
                    0.9,
                    1.0,
                ],
                "sky_bottom": [
                    0.05,
                    0.05,
                    0.1,
                    1.0,
                ],
            },
        ),
        "grain_2": (
            type: "grain",
            inputs: [
                "glow",
            ],
            params: {
                "amount": -0.1,
                "scale": -9.1,
            },
        ),
        "chromatic_aberration": (
            type: "chromatic_aberration",
            inputs: [
                "grain_2",
            ],
            params: {
                "amount": 0.805,
                "center_x": 0.77,
                "center_y": 0.83,
            },
        ),
    },
    output: "chromatic_aberration",
)