(
    version: 1,
    width: 720,
    height: 720,
    fps: 30,
    tone_map: none,
    nodes: {
        "grid": (
            type: "instance",
            inputs: [],
            params: {
                "cam_x": 4.7,
                "cam_y": 8.6,
                "cam_z": 19.3,
                "fov": -0.1,
                "base_scale": 0.72,
                "audio_drive": -2.33,
                "rim_color": [
                    0.8834382,
                    0.0,
                    0.50657153,
                    1.0,
                ],
            },
        ),
        "glow": (
            type: "bloom",
            inputs: [
                "grid",
            ],
            params: {
                "threshold": 2.13,
                "intensity": 0.24,
                "radius": 6.6,
            },
        ),
    },
    output: "glow",
)